include mixins/controlsdropdown
include mixins/controlstable

extends layout

block heading
  h1= title
block action
  a.btn(href="..") Close

block content
  form.form(role="form")
    div.form-group
      label(for="presetname") Preset name:
      input.form-control#presetname

  h2 Controls

  +controlstable(currentcontrols)

  div.row
    div.col-xs-8
      +controlsdropdown(allcontrols)
    div.col-xs-4 Add

append scripts
  script(src='/javascripts/index.js')