include mixins/presetstable
include mixins/presetsdropdown

extends layout

block heading
  h1= title

block content
  div(ng-controller="EditPresetsCtrl")
    div.panel.panel-default(ng-show="currentPreset == null")
      h2 Presets
      table.table.table-striped
        tr(ng-repeat="preset in presets" ng-click="setCurrentPreset(preset)")
          td(ng-bind="preset.presetNumber")
          td(ng-bind="preset.presetName")
          td.td-action(ng-click="deletePreset(preset.presetNumber)")
            span.glyphicon.glyphicon-remove
          td.td-action(ng-click="sendPreset(preset)")
            span.glyphicon.glyphicon-export
      button.btn(ng-click="addPreset()")
        span.glyphicon.glyphicon-plus
        | Add preset

    div.panel.panel-default(ng-show="currentPreset != null")
      h2 Controls for {{currentPreset.presetName}}
      table.table.table-striped
        tr(ng-repeat="control in currentPreset.controls")
          td(ng-bind="getControlName(control.controlId)")
          td(ng-bind="getControlPresentationValue(control.controlId, control.ccValue)")
          td
            span.glyphicon.glyphicon-remove
      div.col-xs-10
        select.form-control
          option(ng-repeat="control in controlsNotInUse()" value="{{control.controlId}}") {{control.controlName}}
      div.col-xs-2
        button.btn 
          span.glyphicon.glyphicon-plus
          | Add
      button.btn(ng-click="setCurrentPreset(null)") 
        span.glyphicon.glyphicon-ok
        | Done

    button.btn LIVE MODE

append scripts
  script(src='/javascripts/index.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/services.js')
  script(src='/javascripts/controllers.js')
