doctype html
html(ng-app="moogerFoogerDooger")
    head
        title= title
        block styles
            link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/animate/animate.min.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-controller="BodyCtrl", ng-keypress="keypressEvent = $event")
        div.row
            div.col-xs-12
                block content

        footer.footer
            block footer

        block scripts
            script(src="/javascripts/jquery/jquery.min.js")
            script(src="/bootstrap/js/bootstrap.min.js")
            script(src="/javascripts/angular/angular.min.js")
            script(src='/javascripts/index.js')
            script(src='/javascripts/app.js')
            script(src='/javascripts/services/presetservice.js')
            script(src='/javascripts/services/controlservice.js')
            script(src='/javascripts/services/eventsourceservice.js')
            script(src='/javascripts/controllers/bodycontroller.js')
            script(src='/javascripts/controllers/editcontroller.js')
            script(src='/javascripts/controllers/livecontroller.js')


