.blackbody {
    background-color: #222222;
    color: #BBBBBB;
    padding: 5px;
}

body {
    padding: 5px;
    overflow-x: hidden;
}

span {
    margin-left: 3px;
    margin-right: 3px;
}

.td-action {
    width: 20px;
}

.panel-default {
    padding: 3px;
}