mixin livepresetpagination
    nav
        ul.pagination.pagination-lg
            li
                a(href="#", aria-label="Previous")
                    span(aria-hidden="true") &laquo;
            li(ng-repeat="preset in presets", ng-click="activatePreset(preset)")
                a(href="#", ng-bind="preset.presetNumber")
            li
                a(href="#", aria-label="Next")
                    span(aria-hidden="true") &raquo;
