mixin presetstable(presets)
  table.table.table-striped
    thead
      tr
        th Number
        th Name
    tbody
      each preset in presets
        tr.presetRow(data-href="#{preset.presetNumber}")
          td #{preset.presetNumber}
          td #{preset.presetName}
